<% layout('layout') -%>

<div class="row">
  <div class="col-lg-6 col-md-offset-3">
    <% if(successes.length > 0) { %>
      <div class="alert alert-success alert-dismissible">
        <button type=button class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= successes %>
      </div>
    <% } %>
    <% if(errors.length > 0) { %>
      <div class="alert alert-danger alert-dismissible">
        <button type=button class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= errors %>
      </div>
    <% } %>
    <h2>Edit Profile</h2>
    <form method="post" action="/edit-profile">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="name" class="form-control" name="name" id="name" value="<%= user.profile.name %>">
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input type="address" class="form-control" name="address" id="address" value="<%= user.address || '' %>">
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>
